/* this set the major font family for the webpage, the font size, background image, and make the background image to be in center and no stretch or corp */
html {
    font-family: "kalam";
    font-size: 20px;
    background-image: url("./background.jpg");
    background-position: center;
    background-size: contain;  
}
/* this makes the minimum shrink of the webpage = "content width + body margin", it will not shrink more than this*/
Body {
    min-width: auto;
    margin: 10%;    
}


#main-title {
    display: flex;
    border-style: none; 
    text-align: center;
    color:white;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    margin: 10% auto;
    font-size: 4rem;
}

.main-title-word {
    border-style: none; 
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

#whatsapp {
    background-color: transparent;
    border-style: none;
    box-sizing: border-box;
    display: inline-block;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 75%;
    left: 65%;
}

#whatsapp img {
    height: auto;
    border-style: none;
    box-sizing: border-box;
    margin: 25%;
    width: 300px;
    height: auto;
}

/*#button {
    text-decoration: none;
    color: #FFFFFF;
    font: 36px roboto, sans-serif;
    background-color: rgb(101, 202, 202);
    padding: 10px 40px;
    position: relative;
    left: 15px;

}

#button:hover {
    background-color: #117bff;
    transition: background .5s;
}*/

.villa-imgs {
    width: 100%;
    height: 35%;
}

#villa-1 {
    box-sizing: border-box;
    color: black;
    background-color: white;
    border-style: dashed;
    width: 100%;
    margin: 50px auto;
    padding: 5%;
    font-size: 3rem;
}

#villa-1 img {
    max-width: 100%;
    height: auto;
    display: block;
}



#villa-2 {
    box-sizing: border-box;
    color: black;
    background-color: white;
    border-style: dashed;
    width: 100%;
    margin: 50px auto;
    padding: 5%;
    font-size: 3rem;
}

#villa-2 img {
    max-width: 100%;
    height: auto;
    display: block;
}


#villa-3 {
    box-sizing: border-box;
    color: black;
    background-color: white;
    border-style: dashed;
    width: 100%;
    margin: 50px auto;
    padding: 5%;
    font-size: 3rem;
}

#villa-3 img {
    max-width: 100%;
    height: auto;
    display: block;
}


#villa-4 {
    box-sizing: border-box;
    color: black;
    background-color: white;
    border-style: dashed;
    width: 100%;
    margin: 50px auto;
    padding: 5%;
    font-size: 3rem;
}

#villa-4 img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*
#div-5 {
    box-sizing: border-box;
    display: block;
    color: black;
    background-color: white;
    border-style: dashed;
    margin: auto;
    padding: 2.5%;
    width: 1300px;
    margin-top: 5%;
    margin-bottom: 4%;
}

#footer {
    box-sizing: border-box;
    display: block;
    color: black;
    background-color: white;
    border-style: dashed;
    margin: auto;
    padding: 2.5%;
    width: 1300px;
}
*/

  
   
    
     